apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  - https://raw.githubusercontent.com/argoproj-labs/argocd-image-updater/v0.15.1/manifests/install.yaml

# ConfigMap patch for registry configuration
patches:
  - patch: |-
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: argocd-image-updater-config
        namespace: argocd
      data:
        registries.conf: |
          registries:
            - name: GitHub Container Registry
              api_url: https://ghcr.io
              prefix: ghcr.io
              ping: yes
              credentials: pullsecret:argocd/ghcr-creds
        log.level: info
    target:
      kind: ConfigMap
      name: argocd-image-updater-config
