apiVersion: v1
kind: Service
metadata:
  name: iam-service
  labels:
    app: iam-service
spec:
  type: ClusterIP
  ports:
    - name: grpc
      port: 50052
      targetPort: 50052
    - name: http
      port: 8081
      targetPort: 8081
    - name: metrics
      port: 8091
      targetPort: 8091
  selector:
    app: iam-service
